/* gruvbox dark */

@define-color bg0_h       #1d2021;
@define-color bg0         #282828;
@define-color bg1         #3c3836;
@define-color bg2         #504945;
@define-color bg3         #665c54;
@define-color bg4         #7c6f64;

@define-color fg0         #fbf1c7;
@define-color fg1         #ebdbb2;
@define-color fg2         #d5c4a1;
@define-color fg3         #bdae93;
@define-color fg4         #a89984;

@define-color red         #fb4934;
@define-color green       #b8bb26;
@define-color yellow      #fabd2f;
@define-color blue        #83a598;
@define-color purple      #d3869b;
@define-color aqua        #8ec07c;
@define-color orange      #fe8019;
@define-color gray        #928374;

/*
	br - border
	bg - background
	fg - foreground
*/

/* main colors */

@define-color accent        @blue;
@define-color main-br       @bg4;
@define-color main-bg       @bg0_h;
@define-color main-fg       @fg1;
@define-color hover-bg      @bg1;
@define-color hover-fg      alpha(@main-fg, 0.75);
@define-color outline       shade(@main-bg, 0.5);

/* module colors */

@define-color workspaces    @bg1;
@define-color temperature   @bg1;
@define-color memory        @bg2;
@define-color cpu           @bg3;
@define-color time          @bg3;
@define-color date          @bg2;
@define-color tray          @bg1;
@define-color volume        @bg1;
@define-color backlight     @bg2;
@define-color battery       @bg3;

/* state colors */

@define-color warning       @yellow;
@define-color critical      @red;
@define-color charging      @green;
